.form {
  position: relative;
  
}

.form__input {
  display: block;
  padding-left: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
  width: 73%;
  background-color: #283036;
  border-radius: 15px;
  border: none;
  padding-top: 21px;
  padding-bottom: 22px;
  background-image: url("../../img/hero/search-icon.svg");
  background-repeat: no-repeat;
  background-position: left 18px center;
}

.form__submit {
  position: absolute;
  top: 8px;
  right: 114px;
  padding-right: 36px;
  padding-left: 36px;
}